#main {
    width: 70%;
    height: 70vh;
    align-content: auto;
    background-color: blue;
    margin: auto;
    border: 10px solid black;
    padding: 30px;
}

.space {
    background-color: blueviolet;
    width: 60px;
    height: 60px;
    float: left;
    border: 4px solid black;
}